.all-videos{
    direction: rtl;
    max-width: 500px;
    margin: auto;
    .categories{
      // border: solid 1px #fe7701;
      width:fit-content;
      border-radius: 35px;
      margin: 20px auto;
     
  
      .category{
       padding:6px;
        color: #fe7701;
        border: solid 1px   #fe7701;
      }
      .first{
        border-top-right-radius: 15px;
        border-bottom-right-radius:15px ;
      }
      .last{
        border-top-left-radius: 15px;
        border-bottom-left-radius:15px ;
      }
      .active{
        background-color: #fe7701;
        color: #fff;
       
      }
    }
  }
  .categories{
    // border: solid 1px #fe7701;
    width:fit-content;
    border-radius: 35px;
    margin: 20px auto;
   
  
    .category{
     padding:6px;
      color: #fe7701;
      border: solid 1px   #fe7701;
    }
    .first{
      border-top-right-radius: 15px;
      border-bottom-right-radius:15px ;
    }
    .last{
      border-top-left-radius: 15px;
      border-bottom-left-radius:15px ;
    }
    .active{
      background-color: #fe7701;
      color: #fff;
     
    }
  }
  
  .text-success{
    color: #4ebf71;
  }
  .text-warning{
    color: #fea62b;
  }
  .text-danger{
    color: #b93c5b;
  }
  
  .heart{
    text-align: center;
  }
  .videos-page{
    direction: rtl;
   display: flex;
    justify-content: space-between; 
    align-items: center;
    // padding: 10px;
    flex-wrap: wrap;
    .video-box{
      float: 1  21% !important;
      color: #000;
      
      width:calc(50% - 30px) !important;
    margin-bottom: 16px;
   
   text-align: right;
    position: relative;
    @media screen and (max-width: 1500px){
      width: calc(50% - 28px) !important;
  
  }
  @media screen and (max-width: 835px){
    width: 80% !important;
  
  }
  @media screen and (max-width: 660px){
  
   width: 100% !important;
   margin: auto;
  
  }
  video{
    width:100%;
    max-width:100%;
    height: 325px;
  
    object-fit: cover
   }
  
    }
  
  }
  .myvedio-box{
     
  }
  .page-hierarchy{
    color: #4B4A4A;
    font-size: 20px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 24px;
    a{
      display: inline-block;
    }
    .parent{
     
      
    }
    .arow-icon{
      display: inline-block;
      vertical-align: text-top;
    }
    .child{
      color: #E00800;
    }
  }
  .page-title{
    direction: rtl;
    font-size: 32px;
    font-weight: 700;
    margin-top: 30px;
  }
  .page{
  // padding:0 30px  50px 30px;;
  direction: rtl;
  background-color: #fff;
  .page-title {
   margin-top: 10px;
   font-size: 24px;
   font-weight: bold;
  }
  .section-title{
    font-size: 32px;
    font-weight: bold;
  
    margin-top: 40px;
    @media screen and (max-width: 600px){
      font-size: 24px;
    
    }
  
  }
  }
  .add-vid-button{
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid #E00800;
    font-weight: 700;
    float: left;
    margin-top: 8px;
    &:hover{
      background-color: #E00800;
      color: #fff;
    }
  }
  .overlay{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0%;
    left: 0%;
    background-color: #00000086;
    z-index: 99;
    text-align: center;
    .overlay-text{
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      left: 50%;
      transform: translateX(-50%);
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      
    }
  
  .white-background{
    text-align: right;
    background-color: #fff;
    width: 90%;
  
    position: absolute;
    top: 180px;
    left: 5%;
    border-radius: 8px;
    @media screen and (max-width: 845px){
       width: 95%;
      // top: 5%;
      left: 2.5%;
    }
    @media screen and (max-width: 600px){
      width: 80%;
    //  top: 5%;
     left: 10%;
   }
    .left-section{
      display: inline-block;
      padding: 10px;
      float: left;
      direction: ltr;
      @media screen and (max-width: 800px){
     
      display: block;
      width: 100%;
      float: right;
    
    }
    
      .video-upload-button{
        height: 288px;
        margin: 10px auto;
        padding: 0px 100px;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: #E00800;
        border: 1px dashed #E00800;
        font-size: 24px;
        font-weight: 700;
        max-width: 85% ;
        @media screen and (max-width: 630px){
     
          padding: 0px 50px;
      
      }
  
      }
      // 344.44*288
      .actions{
        margin: 10px auto;
        text-align: center;
    
        .video-action-upload-button{
          background: #17A952;
          color: #fff;
          border: none;
          padding:10px 20px;
          margin: 2px;
          margin-bottom: 10px;
          border-radius: 8px;
          font-weight: 700;
        }
        .video-upload-delete{
          background-color: #E7270C;
        
        }
      }
    }
    .right-section{
      display: inline-block;
      padding: 20px;
        @media screen and (max-width: 800px){
     
      display: block;
      width: 100%;
    
     
    
    }
    }
    .upload-video-input , .upload-video-textarea {
   width: 90%;
    }
  }
  }
  .video-overlayer{
    background-color: #090909ba;
    color: #fff;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed ;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   z-index: 9999999999999;
   .details{
    padding: 10vh 2vw;
   }
   video{
   position: absolute;
   height: 70vh;
   width: 100%;
   top: 15%;
   
   border-radius: 8px;
  
      // transform: translateY(-15%);
   }
  }