.sbha-body{
    margin-top:150px
}
.zkr-box{
    text-align: center; 
    width: 400px;
    margin:20px auto;
    border: solid 1px #000;
    max-width:80%;
}
.select-zekr{
    display:block;
    width: 600px;
    margin:20px auto;
    max-width:85%;
    padding: 10px 5px;
    color: #000;
    font-size: 18px;
    outline: none;
}
.zkr-name{
    width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 5px 0;
}
.zkr-button{
    padding: 50px auto;
    border-radius: 50%;
    font-size: 24px;
    background-color: #f16e00;
    color: #fff;
    border: solid 2px #fff;
    outline-color: #fff;
    width: 116.94px;
    height: 116.94px;
    margin: 10px 0;
    cursor: pointer;
}
.sbha-reset{
    color: #999595;
    cursor: pointer;
}