@import 'scss/style' ; 

@import 'scss/bootstrap-rtl.min' ; 
@import 'scss/bootstrap.min' ; 
@import 'scss/bootstrap4.min' ; 
@import 'scss/playerskin' ; 
// @import 'scss/vendor' ; 
@import 'scss/zakah' ; 
@import 'scss/sbha' ; 
@import 'scss/Competition.scss';
@import 'scss/video.scss';
body{
    direction: rtl;
}

.paginate-component {
    text-align: center;
    width: 100%;
    background-color: #f2f0ed;;
    color: pink;

    ul{
        width: 100%;
    }
.pagination li {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px 10px;
  }
  
  .pagination li.active {
    background-color: #e00800;
    color: #fff;
    border: 1px solid #e00800;
  }
}